{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <form method="post" action="{{ url_for('faceDetection') }}">
                <input type="submit" value="Stop/Start" name="stop" />
        </form>
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Social Distance Detection</h3>
                <img src="{{ url_for('social_distance_detection_video_feed') }}" width="100%">
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
